/* all document css */

html {
  --backgroundColor: #1B2021;
  font-size: 1em ;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  margin-left: 1em;
  margin-right: 1em;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 0.5em;
}

#pageTitle{
  font-size: 50px !important;
}
/* -------------------------- */

/* --------Containers-------- */

.container-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 700px;
  gap: 10px 10px;
}

.container-col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 10px 10px;
}

.item {
  padding: 5px;
}

.sliderContainer{
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 8%;
  margin-right: 8%;
}

/* -------------------------- */

/* --------Containers-------- */
.border{
  border: 2px solid white;
}

.settingsButtons{
  width: 100%;
  color:white;
  background-color: var(--backgroundColor);
  display: block;
  font-size: 16px;
  text-align: center;
} 

.slider{
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 5px;
}

/* -------------------------- */

/* ----Sizes of containers--- */

#gameArea{
  width: 80%;
}
#sidebar{
  width: 20%;
}

#settingsBox{
  height: 100%;
}

/* -------------------------- */

/* -----------Text----------- */

.text{
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
.centerFlexText{
  display: flex;
  justify-content: center;
}
#subtitle{
  font-size: 25px;
  margin-bottom: 10px;
}

.hiddenBox{
  display: none;
}
